/* Center the content of the entire page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Additional styles for specific elements */
/* For example, header text */
header {
    text-align: center;
}

/* For section headings */
h2 {
    color: #3498db; /* Blue */
}


#project-images img {
    width: 50%; /* Set the image width to 50% of the container */
    height: auto; /* Maintain the aspect ratio */
    float: left; /* Float the image to the left */
}

/* Style the project description (paragraph) */
#project-images p {
    flex: 1; /* Expand to take up the remaining space on the right */
}

/* .project img {
    max-width: 100px; /* Adjust the maximum width as needed */
/*     margin-right: 20px; /* Add space between the image and paragraph */
/*}

/* Style the project description (paragraph) */
#project-images p {
    flex: 1; /* Expand to take up remaining space */
}


/* For project images */
/* #project-images img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

/* For code snippets */
#code-snippets pre {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    white-space: pre-wrap;
}

/* For the footer */
footer {
    background-color: #3498db; /* Blue */
    color: #fff; /* White text */
    text-align: center;
    padding: 10px;
}
