/* Center the content of the entire page */
html, body {
    height: 100%; /* Change to 100% to fill the entire viewport height */
    margin: 0;
    padding: 0;
}

/* Additional styles for specific elements */
/* For example, header text */
header {
    text-align: center;
}

/* For section headings */
h2 {
    color: #3498db; /* Blue */
}

/* For project images */
#project-images img {
    max-width: 100%; /* Ensure images scale down to fit the screen */
    height: auto; /* Maintain the aspect ratio */
}

/* Style the project description (paragraph) */
#project-images p {
    text-align: center; /* Center-align the text */
}

/* For code snippets */
#code-snippets pre {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    white-space: pre-wrap;
}

/* For the footer */
footer {
    background-color: #3498db; /* Blue */
    color: #fff; /* White text */
    text-align: center;
    padding: 10px;
}
